# Ignore bundler config.

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

node_modules/

.byebug_history
.DS_Store
npm-debug.log

# Ignore application configuration
/config/application.yml
